/* 
File Name    : game.css
Purpose      : This file is used to style the Sudoku game. 
*/

*
{
    box-sizing: border-box;
}

html, body
{
    min-height: 100dvh;
    font-size: 16px;
    font-family: 'Roboto Flex', Times, serif;
    margin: 0px; 
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;    
    color: rgb(65, 65, 65);
}

.title
{
    text-align: center;
}

                                                /********** Board Styling  *********/

.boardContainer
{
    display: flex;
    justify-content: center;
}

.cell
{
    border: black solid 1px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    box-sizing: border-box;
}

.cell:hover
{
    cursor: pointer;
}

table
{
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border: black solid 2px; 
    table-layout: auto;
}

td:nth-child(3n) /* This is used for the 3x3 right border */
{
    border-right: black solid 2px;
}

tr:nth-child(3n) /* This is used for the 3x3 bottom border */
{
    border-bottom: black solid 2px;
}

                                            /* Additional Buttons Section */

.additionalBtns
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.additionalBtn
{
    padding: 0px;
    margin: 0px;
    border: none;
}

.additionalBtn:hover
{
    cursor: pointer;
}

.additionalBtnImg
{
    height: 40px;
    width: 40px;
    background-color: #f5f5f5; 
    display: block;
}


                                        /********** Number Section *********/
.numberSection
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: auto;
}

.numberContainer
{
    display: flex;
    justify-content: space-between;
    width: 454px; 
    padding: 5px 0px;
}

.number
{
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    font-family: inherit; /* This ignores the browsers default font and chooses the one set by us in HTML */
    background-color: inherit;
    border: black solid 1px;
    border-radius: 3px; 
}

.number:hover
{
    cursor: pointer;
}

.highlightCell
{
    background-color: #ccd8ef;
}

.focus
{
    background-color: #ccd8ef;
}




/*                                                    ---------- MEDIA QUERIES ---------                                    */
@media (max-width: 480px)
{
    .cell
    {
        border: black solid 1px;
        width: 41px;
        height: 40px;
        text-align: center;
        font-size: 2.2rem;
        padding: 0;
    }

    .number
    {
        margin: 0px;
        padding: 0px;
        font-size: 2rem;
        font-family: inherit; /* This ignores the browsers default font and chooses the one set by us in HTML */
        background-color: inherit;
        border: black solid 1px;
        border-radius: 3px; 
        width: 40px;
        height: 40px;
    }

    .numberContainer
    {
        display: flex;
        justify-content: space-between;
        width: 98%; 
        padding: 5px 0px;
    }
}
