/* 
File Name    : game.css
Purpose      : This file is used to style the Sudoku game. 
*/

html
{
    font-size: 16px;
}

body
{
    margin: 0;
}

.title
{
    text-align: center;
}

/* Board Styling  */

.boardContainer
{
    display: flex;
    justify-content: center;
}

.cell
{
    border: black solid 1px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    padding: 0;
}

.table
{
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border: black solid 2px;
}

td:nth-child(3n) /* This is used for the 3x3 right border */
{
    border-right: black solid 2px;
}

tr:nth-child(3n) /* This is used for the 3x3 bottom border */
{
    border-bottom: black solid 2px;
}